<main class="pt-4 border border-3 border-top-0 border-end-0 rounded w-75">
  <h2 class="mx-2">{{title}}</h2>
  <section>
    {{#if productsList}}
      <table class="table">
        <caption class="text-danger">Cannot delete category while it contains products</caption>
        <thead>
          <th scope="col">Name</th>
          <th scope="col">Link</th>
        </thead>
        <tbody>
          {{#each productsList}}
          <tr>
            <td>
              {{this.name}}
            </td>
            <td>
              <a href={{this.url}}>Details</a>
            </td>
          </tr>
          {{else}}
          <tr>
            <td>
              No Products Found
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
    <h3 class="mx-2">No Products Found</h3>
    <form action="" method="POST" class="p-3 w-75" novalidate>
      <input 
        type="hidden" 
        name="categoryId" 
        value="{{category._id}}"
        required="true" 
      >
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    {{/if}}
  </section>
</main>