<main>
  <p>Welcome to {{title}}, A basic Inventory management Website built using 
    Express and MongoDB.
  </p>
  {{#if error}}
    <p>Error getting Inventory Details {{error}}</p>
  {{else}}
    <table class="table table-striped table-bordered w-50">
      <tr>
        <th>
          Products
        </th>
        <td>
          {{data.productCount}}
        </td>
      </tr>
      <tr>
        <th>
          Categories
        </th>
        <td>
          {{data.categoryCount}}
        </td>
      </tr>
    </table> 
  {{/if}}
</main>