<main>
  <h2 class="my-4">{{title}}</h2>
  <div>
    <p>{{description}}</p>
    <p>SKU: {{SKU}}</p>
    <p>
      Category: <a href={{category.url}}>{{category.name}}</a>
    </p>
    <p>Stock Count: {{quantity}}</p>
    <p>Price:{{price}}</p>
    <a href={{deleteUrl}}>Delete Product</a>
    <a href={{updateUrl}}>Edit Product</a>
  </div>
</main>