<main class="pt-4 border border-3 border-top-0 border-end-0 rounded w-75">
  <h2 class=" mx-2">{{title}}</h2>
  <form action="/inventory/product/create" method="POST" class="p-3" novalidate enctype="multipart/form-data">
    <div class="row">
      <div class="col-lg-7">
        <div class="row">
          <div class="col-sm-6 mb-3">
            <label for="name" class="form-label">Name: </label>
            <input 
              type="text" 
              id="name" 
              name="name"
              required="true"
              {{#if name}}
                value="{{name}}"
              {{/if}}
              class="form-control {{#if errors}} {{#if errors.name}} is-invalid {{else}} is-valid {{/if}}{{/if}}"
            >
            {{#if errors.name}}
              <div class="invalid-feedback">
                <ul class="mb-0">
                  <li>{{errors.name}}</li>
                </ul>
              </div>
            {{/if}}
          </div>
          <div class="col-md-6 mb-3">
            <label for="category" class="form-label">Category: </label>
            <select
              id="category" 
              name="category"
              placeholder="Select Category"
              required="true"
              class="form-select {{#if errors}} {{#if errors.category}} is-invalid {{else}} is-valid {{/if}}{{/if}}"
            >
            <option 
              value="" 
              disabled="disabled"
              selected="selected">
              Select A Category
            </option>
            {{#each categories}}
              <option 
                value={{this._id}}
                {{#selected ../category this._id}}
                  selected="selected" 
                {{/selected}}
                > 
                {{{this.name}}}
              </option>  
            {{/each}}
            </select>
            {{#if errors.category}}
              <div class="invalid-feedback">
                <ul class="mb-0">
                  <li>{{errors.category}}</li>
                </ul>
              </div>
            {{/if}}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea 
              id="description" 
              name="description"
              rows="5"
              required="true"
              class="form-control {{#if errors}} {{#if errors.description}} is-invalid {{else}} is-valid {{/if}}{{/if}}"
            >{{#if description}}{{description}}{{/if}}</textarea>
            {{#if errors.description}}
              <div class="invalid-feedback">
                <ul class="mb-0">
                  <li>{{errors.description}}</li>
                </ul>
              </div>
            {{/if}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 mb-3">
            <label for="sku" class="form-label">SKU: </label>
            <input 
              type="text" 
              id="sku" 
              name="sku"
              required="true"
              {{#if SKU}}
                value={{SKU}}
              {{/if}}
              class="form-control {{#if errors}} {{#if errors.sku}} is-invalid {{else}} is-valid {{/if}}{{/if}}"
            >
            {{#if errors.sku}}
              <div class="invalid-feedback">
                <ul class="mb-0">
                  <li>{{errors.sku}}</li>
                </ul>
              </div>
            {{/if}}
          </div>
          <div class="col-sm-4 mb-3">
            <label for="quantity" class="form-label">Quantity: </label>
            <div class="input-group">
              <input 
                type="number" 
                id="quantity" 
                name="quantity"
                required="true"
                {{#if quantity}}
                  value={{quantity}}
                {{/if}}
                class="form-control {{#if errors}} {{#if errors.quantity}} is-invalid {{else}} is-valid {{/if}}{{/if}}"
              >
              <span class="input-group-text">units</span>
              {{#if errors.quantity}}
                <div class="invalid-feedback">
                  <ul class="mb-0">
                    <li>{{errors.quantity}}</li>
                  </ul>
                </div>
              {{/if}}
            </div>
          </div>
          <div class="col-sm-4 mb-3">
            <label for="price" class="form-label">Price: </label>
            <div class="input-group">
              <span class="input-group-text">₹</span>
              <input 
                type="text" 
                id="price" 
                name="price"
                required="true"
                {{#if price}}
                  value={{price}}
                {{/if}}
                class="form-control {{#if errors}} {{#if errors.price}} is-invalid {{else}} is-valid {{/if}}{{/if}}"
              >
              {{#if errors.price}}
                <div class="invalid-feedback">
                  <ul class="mb-0">
                    <li>{{errors.price}}</li>
                  </ul>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row">
          <label for="productImage" class="form-label">Add Image</label>
          <input 
            class="form-control form-control-lg {{#if errors}} is-invalid {{/if}}" 
            type="file" 
            id="productImage" 
            name="productImage" 
          >
          {{#if errors}}
            <div class="invalid-feedback">
              <ul class="mb-0">
                {{#if errors.productImage}}
                  <li>{{errors.productImage}}</li>
                  <li>As a security Measure, Please Reupload the Image</li>
                {{else}}
                  <li>As a security Measure, Please Reupload the Image</li>
                {{/if}}
              </ul>
            </div>
          {{/if}}
        </div>
        {{#if productImage}}
          <div class="row mt-3">
            <div class="d-flex">
              <img src="/uploads/{{productImage.fileName}}" alt="product Image" type="{{productImage.mimeType}}" width="100" height="100">
            </div>
          </div>
        {{/if}}
        <div class="row mt-3">
          <label for="descriptionImages" class="form-label">Add Description Images</label>
          <input 
            class="form-control form-control-lg {{#if errors}} is-invalid {{/if}}" 
            type="file" 
            id="descriptionImages" 
            name="descriptionImages" 
            multiple="multiple"
          >
          {{#if errors}}
            <div class="invalid-feedback">
              <ul class="mb-0">
                {{#if errors.descriptionImages}}
                  <li>{{errors.descriptionImages}}</li>
                  <li>As a security Measure, Please Reupload the Images</li>
                {{else}}
                  <li>As a security Measure, Please Reupload the Images</li>
                {{/if}}
              </ul>
            </div>
          {{/if}}
        </div>
        {{#if descriptionImages}}
          <div class="row mt-3 px-0 form-check d-flex">
            {{#each descriptionImages}}
              <div class="col-md-4 card mx-0 p-1">
                <div class="d-flex">
                  <img src="/uploads/{{this.fileName}}" alt="More Images" type="{{this.mimeType}}" width="100" height="100" class="card-img-top">
                </div>
                <div class="card-body p-0 d-grid">
                  <input type="checkbox" class="btn-check" id="{{this.fileName}}" autocomplete="off">
                  <label class="btn btn-outline-danger mt-1" for="{{this.fileName}}">Delete</label>
                </div>
              </div>
            {{/each}}
          </div>
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col-4 offset-4 text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</main>
