<main>
  <h2 class="my-4">{{title}}</h2>
  <ul>
    {{#each products}}
      <div>
        <p>
          <a href={{this.productUrl}}>{{this.name}}</a> 
        </p>
        <p>
          Category: <a href={{this.categoryUrl}}>{{this.category}}</a>
        </p>
        <p>Qty: {{this.quantity}}</p>
      </div>
    {{else}}
      <div>
        <p>No Products Found</p>
      </div>
    {{/each}}
  </ul>
</main>